{% extends "layout.html" %}

{% block content %}
{% for row in database %}
    <div class="jumbotron"
         style="background-image: url('{{ row.image}}');
                 background-size: cover;
                 background-repeat: no-repeat;
                 background-position: center;
                 height: 400px;">
     </div>
    <div class="container">
        <h1 style="text-align: center">{{ row.titulo }}</h1>
        <h2> {{ row.preco }}€</h2>
        <h5> {{ row.descricao }}</h5>
    </div>
    {% endfor %}

{% endblock %}