{% extends "layout.html" %}

{% block headers %}
    <style>
        * {
            box-sizing: border-box;
        }

        /* Style the search field */
        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        /* Style the submit button */
        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none; /* Prevent double borders */
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        /* Clear floats */
        form.example::after {
            content: "";
            clear: both;
            display: table;
        }</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="col-lg-12">
            <form class="example" action="/search" method="get">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    <div class="row">
        {% for row in database %}
            <div class="col-md-3 offset-1">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ row.image }}" style="height: 280px" alt="{{ row.titulo}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ row.titulo }}</h5>
                        <p class="card-text">{{ row.short }}</p>
                        <a href="/infoItem?titulo={{ row.titulo }}" class="btn btn-primary">Ver mais</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
