{% extends "layout.html" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in shoppingbag %}
            <tr>
                <td>{{ product.titulo }}</td>
                <td>{{ product.preco }} €</td>
                <td></td>
                <td>
                    <form action='{% url 'removecart' %}' method='post'>
                        {% csrf_token %}
                        <input name='id' value="{{ item.id }}" hidden>
                        <input name='index' value="{{ forloop.counter0 }}" hidden>
                        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>{{ total }} €</td>
            <td></td>
            <td><a href="{% url 'checkout' %}" class="btn btn-primary"> Checkout</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}